.icon {
  display: block;
  width: 18px;
  height: 18px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &__menu-open {
    background-image: url(../images/menu.svg);
    margin: 32px  40% 250px 0;

    @include onTABS {
      margin: 45px 50% 70px 0;
    }

    @include onDesktop {
      margin: 45px 45% 150px 0;
    }
  }

  &__close {
    height: 18px;
    width: 18px;
    background-image: url(../images/close.svg);
    margin-right: 34px;


    @include onTABS {
      margin-right: 24px;
    }

    @include onDesktop {
      margin-right: 108px;
    }
  }
}
