.schedule {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #fff;

  @include onTABS {
    display: flex;
    margin-left: 3%;
  }

  @include onDesktop {
    margin-left: 10%;
  }

  &__work {
    margin-bottom: 20px;
    white-space: nowrap;

    @include onDesktop {
      margin-left: 10%;
    }
  }

  &__text {
    @include onTABS {
      padding: 40px 0;
    }
    @include onDesktop {
      width: 30%;
      padding: 40px 0;
    }
  }

  &__container {
    margin-left: 5%;

    @include onDesktop {
      margin-left: 10%;
    }
  }

}
